.logLine {
  display: flex;
  gap: 1em;
}

.step {
  margin-top: 1em;
  width: 200px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.success {
  background-color: #def8de;
}

.fail {
  background-color: #f4cece;
}

@keyframes pulseSuccess {
  0%,
  100% {
    background-color: white;
  }
  50% {
    background-color: #def8de;
  }
}

.pulseGreen {
  animation: pulseSuccess 0.5s ease-in-out;
}

@keyframes pulseFail {
  0%,
  100% {
    background-color: white;
  }
  50% {
    background-color: #f4cece;
  }
}

.pulseRed {
  animation: pulseFail 0.5s ease-in-out;
}
